
h1 { 
  padding: 0px;
  margin-left: 40px; 
  margin-top: 40px;
  font-family: "Times New Roman", Times, serif;
}
h2{
    margin-left: 20px;
}
h3{
    
}
body {
    background: black;
}
.container{
  display:grid; /*inicializar o grid*/
  grid-template-columns:1fr 1fr ; /*divido em 2 colunas*/
  /**/
  grid-template-rows: 20vh 15vh 135vh;  /*dividido em 3 linhas*/
  
  grid-template-areas:"perfil perfil"
                      "contato contato" /*marcando áreas em itens dentro do container*/
                      "experiencia formacao";
  
  grid-gap:2px ;/*distancia entre*/
  border: 10px outset background   ;/*(borda)*/
  border-style: outset;


}
table{
    margin-left: 40px;
}

header {
  background: whitesmoke;
  grid-area: perfil; 
  
}
main {
  background: whitesmoke;
  grid-area: contato;
}
aside {
  background: white;
  grid-area: experiencia;
}
footer {
  background: white;
  grid-area: formacao;
}
li{
    list-style-type: circle;
    margin-left: 40px;
}
#imageMain{
    width:25px;  
    height:25px;
    vertical-align: middle;
}
td{
    text-align: left;
    vertical-align: top;
}
#imageBody{
    width: 40px;
    height: 35px;
    vertical-align: middle;
}
dd{
    margin-left: 60px;
}
