body {
    background: rgb(243, 243, 243);
    margin: 50px;
}

#title, .subtitle, .post_title {
    color: #000000
}
.post_title{
    font-size: 16px;
    font-size: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}
.post_1 {
    background: #fff;
    padding: 15px;
    border-top: 3px solid blue;
    border-right: 2px dotted green;
    border-bottom: 1px solid purple;
    border-left: none;left: 4px dotted cyan;
    border-radius: 50px;
    margin: left;
    width: 500px;
}
.post_2 {
    background: #fff;
    padding: 15px;
    border-top: 3px solid blue;
    border-right: 2px dotted green;
    border-bottom: 1px solid purple;
    border-left: none;left: 4px dotted cyan;
    border-radius: 50px;
    margin: left;
    width: 500px;
}
.imagem {
    width: 300px;
}
.post_foto {
    border-radius: 50%;
    width: 100px;
}
.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}
.contacts_list li a {
    text-decoration: none;
}